body, h1, h2, p, ul, li, form, input, button, table {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Header styles */
header {
    background-color: lightpink;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}


/* Main styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: lightpink;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: lightgray;
}

button[type="button"] {
    background-color: #dc3545;
}

/* Search results styles */
#searchResults {
    margin-top: 20px;
}

#searchBlog {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

table th {
    background-color: lightpink ;
    color: #fff;
}

table td:last-child {
    text-align: center;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: lightpink;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
